body {
    padding: 100px;
    margin: 0px;
}

#board {
    width: 250px;
    height: 240px;
}
#board section {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    float: left;
    position: relative;

}

header {
  color: rgba(200,0,0,0.5);
  font-size: 2em;
  
}

#board section span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }